name: Deploy

on:
  push:
    branches:
      - main
  release:
    types:
      - published
  workflow_dispatch:

env:
  TARGET_REPOSITORY: ${{ github.repository_owner }}/actions

concurrency:
  group: ${{ github.workflow }} @ ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Install Dependencies
        run: |-
          bun install
          bun pm bin >> "$GITHUB_PATH"
      - name: Build
        run: bun run build
      - name: Upload Artifacts
        uses: actions/upload-artifact@v7
        with:
          name: dist
          path: dist

  deploy:
    name: Deploy
    permissions:
      contents: write
    needs:
      - build
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      # JamesIves/github-pages-deploy-action requires checkout
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false # try to fix permission issues
      - name: Download Artifacts
        uses: actions/download-artifact@v8
        with:
          name: dist
          path: dist
      - if: ${{ github.ref == 'refs/heads/main' }}
        name: Deploy to main
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GH_PAT }}
          branch: main
          folder: dist
          repository-name: ${{ env.TARGET_REPOSITORY }}
          single-commit: true
      - if: ${{ github.ref == 'refs/heads/main' }}
        name: Deploy to dist
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GH_PAT }}
          branch: dist # for backward compatibility
          folder: dist
          repository-name: ${{ env.TARGET_REPOSITORY }}
          single-commit: true
      - if: ${{ startsWith(github.ref, 'refs/tags/') }}
        name: Deploy to ${{ github.ref_name }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GH_PAT }}
          branch: release/${{ github.ref_name }}
          folder: dist
          repository-name: ${{ env.TARGET_REPOSITORY }}
          single-commit: true

  tag:
    name: Tag
    needs:
      - deploy
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: ${{ env.TARGET_REPOSITORY }}
          ref: release/${{ github.ref_name }}
          token: ${{ secrets.GH_PAT }}
      - name: Tag
        run: |-
          # `<<<` will append an extra newline, so we use `printf`
          readarray -d '.' -t parts < <(printf '%s' '${{ github.ref_name }}')
          tag=''
          for part in "${parts[@]}"; do
            tag="${tag:+"$tag."}$part"
            git tag --force "$tag"
            git push --force origin tag "$tag"
          done
