name: Tag

on:
  release:
    types:
      - published

jobs:
  tag:
    name: Create Tag
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ github.token }}
      - name: Create Tag
        run: |-
          readarray -d '.' -t parts <<< '${{ github.ref_name }}'
          prefix=''
          for part in "${parts[@]}"; do
            if [[ -n $prefix ]]; then
              prefix="${prefix}.${part}"
            else
              prefix="${part}"
            fi
            git tag "${prefix}" '${{ github.sha }}'
            git push origin tag "${prefix}"
          done
